.Store {
    min-height: calc(100vh - 20px);
    padding-top: 80px;
    position: relative;
    display: flex;

    .toggleButton {
        display: none;
        background: $p-c;
        color: $d-c;
        z-index: 10;
        font-family: $Lora;
        font-size: 18px;
        font-weight: 900;
        border-radius: 25px;
        padding: 7px 28px;
        border: none;
        outline: none;

        @media (max-width: 992px) {
            display: block;
        }
    }

    .sideBar {
        background: $s-c;
        position: fixed;
        width: 300px;
        height: 100%;
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        z-index: 7;
        transition: transform 0.3s ease-in-out;

        @media (max-width: 992px) {
            transform: translateX(-100%);
        }

        &.open {
            transform: translateX(0);
        }

        h2 {
            font-size: 20px;
            padding-bottom: 5px;
            margin-bottom: 10px;
            border-bottom: 0.7px solid $p-c;
        }
        .sortData{
            select{
                width: 100%;
                padding: 7px;
                background: transparent;
                outline: none;
                color: $d-c;
                border-radius: 3px;

                option{
                    background: black;
                }
            }
        }
    }

    .products {
        position: relative;
        width: 100%;
        padding: 30px 20px;
        padding-left: 320px;
        float: right;

        @media (max-width: 992px) {
            padding: 30px 20px;
        }
        .search {
            position: absolute;
            right: 30px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-end;

            @media (max-width: 768px) {
                top: 140px;
            }
        }

        .heading {
            h1 {
                font-family: $Bitter;
                font-size: 46px;
                font-weight: 500;
                margin-bottom: 30px;
                margin-left: 20px;
            }
            h2 {
                font-family: $Bitter;
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 25px;
                margin-left: 20px;
            }
            @media (max-width: 768px) {
               padding-bottom: 90px;
            }
        }

        .productItems {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .item {
                flex: 0 0 calc(30%);
                margin-bottom: 60px;

                
                @media (max-width: 768px) {
                    flex: 0 0 calc(45%);
                }
            }
        }
    }
}
