.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    padding: 160px 10px 20px 10px;
    height: 100vh;
    background-color: $l-bcg;
    color: $l-c;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    overflow: hidden;

    @media (max-width: 425px) {
        width: 100%;
    }

    ul {
        padding: 20px;
    }

    li {
        list-style: none;
    }

    button {
        background: none;
        border: none;
        outline: none;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.closeButton {
    background: none;
    border: none;
    position: absolute;
    top: 30px;
    right: 50px;
    cursor: pointer;
    font-size: 32px;
    color: $l-c;

    &:hover,
    &:active {
        font-weight: 900;
    }
}

.pfpWrapper {
    border-radius: 25px;

    .userName {
        text-align: center;
        position: relative;
        font-size: 20px;
        margin-bottom: 40px;
    }

    .profileImage {
        height: 30px;
        width: 30px;
        border-radius: 25px;
    }
}

.pfp {
    cursor: pointer;
    border-radius: 50%;
    color: $l-c;
    position: absolute;
    top: 30px;
    right: 50%;
    transform: translateX(50%);
    transition: all 0.1s;
}

.menu_items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;

    .responsive {
        display: none;

        @media (max-width: 768px) {
            display: flex;
        }
    }

    .icons {
        padding: 7px;
        border: 2px solid #9f7de8;
        border-radius: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        transition: background-color 0.3s;
    }

    .iconDetail {
        display: flex;
        padding: 7px;
        border: 2px solid #9f7de8;
        width: 100%;
        border-radius: 50px;
        font-size: 16px;
    }

    .menuLink,
    .menuButton {
        display: flex;
        gap: 7px;
        align-items: center;
        color: inherit;
        text-decoration: none;
        width: 100%;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        .activeLink {
            color: #9f7de8;
            font-weight: bold;
        }
    }
}
