.Home {
    min-height: calc(100vh - 20px);
    padding-top: 80px;

    .introSection {
        display: flex;
        height: calc(100vh - 20px);
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            border-radius: 25px;
        }

        .introImg1 {
            transform: translateX(-50%);
            position: absolute;
            width: 30%;
            top: 7%;
            left: 25%;
        }
        .introImg2 {
            transform: translateX(-50%);
            position: absolute;
            width: 30%;
            top: 20%;
            left: 50%;
        }
        .introImg3 {
            transform: translateX(-50%);
            position: absolute;
            width: 30%;
            top: 15%;
            left: 75%;
        }

        .introSell {
            color: $d-c;
            background: $radial-bcg;
            transform: translateX(-50%);
            position: absolute;
            top: 25%;
            left: 50%;
            width: 45%;
            height: 325px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            flex-direction: column;
            @media (max-width: 768px) {
                width: 80%;
                height: 275px;
            }
            h3 {
                font-size: 24px;
                font-family: $Fredericka;
                font-weight: 500;
            }

            h1 {
                font-size: 100px;
                font-family: $Lora;
                @media (max-width: 768px) {
                    font-size: 70px;
                }
            }

            h2 {
                font-size: 32px;
                font-family: $Fredericka;
                font-weight: 500;
                @media (max-width: 768px) {
                    font-size: 28px;
                }
            }

            button {
                background: $d-c;
                margin-top: 7px;
            }
        }
        @media (max-width: 768px) {
            height: calc(170vh - 20px);

            .introImg1 {
                width: 40%;
                top: 35%;
                left: 30%;
            }
            .introImg2 {
                width: 40%;
                top: 45%;
                left: 70%;
            }
            .introImg3 {
                width: 40%;
                top: 60%;
                left: 35%;
            }
            .introSell {
                top: 5%;
            }
        }

        @media (max-width: 668px) {
            height: calc(150vh - 20px);
            .introImg1 {
                width: 40%;
                top: 40%;
                left: 33%;
            }
            .introImg2 {
                width: 40%;
                top: 50%;
                left: 67%;
            }
            .introImg3 {
                width: 40%;
                top: 70%;
                left: 37%;
            }
            .introSell {
                top: 5%;
            }
        }
        @media (max-width: 568px) {
            height: calc(150vh - 20px);

            .introImg1 {
                width: 50%;
                top: 40%;
                left: 33%;
            }
            .introImg2 {
                width: 50%;
                top: 50%;
                left: 67%;
            }
            .introImg3 {
                width: 50%;
                top: 70%;
                left: 37%;
            }
            .introSell {
                top: 5%;
            }
        }
    }
}
