.login {
    display: flex;
    min-height: calc(100vh - 20px);
    justify-content: center;
    align-items: center;
    font-family: $Lora;

    h1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Form {
        border: 3px solid $p-bcg;
        width: 35%;
        gap: 13px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 30px 1px $p-c;

        @media (max-width: 768px) {
            width: 90%;
        }

        .button {
            border-radius: 3px;
            margin-top: 7px;
            // border: 1px solid $l-border;
            padding: 7px 17px;
            background: $radial-bcg; // Base background color
            color: $d-c;
            outline: none;

            &:hover,
            &:active {
                background: $radial-bcg-hover; // Change this color on hover
                cursor: pointer;
            }
        }

        .hr {
            margin: 7px 0;
            opacity: 0.7;
        }

        .button2 {
            border-radius: 15px;
            font-family: $Fredericka;
            margin-top: 7px;
            padding: 11px 17px;
            background: $l-bcg; // Base background color
            color: $l-c;
            outline: none;

            &:hover,
            &:active {
                box-shadow: 0 0 10px 1px $d-c;
                cursor: pointer;
            }
        }
    }
}
