.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 400;
}

.Profile {
    width: 400px;
    background: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    z-index: 500;

    label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: black;
    }

    @media (max-width: 425px) {
        width: 100%;
    }
}

.add_back {
    display: flex;
    justify-content: space-between;
    color: black;
    margin-top: 10px;
    padding: 10px;
    button {
        font-size: x-large;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        &:hover {
            color: blue;
        }
    }
}

.profile_view {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.avatar {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile_detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: black;
}

.name {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.email {
    display: flex;
    font-size: 18px;
}

.edit_button {
    display: flex;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #555;
    }
}

.edit_mode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar_input_container {
    position: relative;
    margin-bottom: 20px;
}

.avatar_input {
    display: none;
}

.imgCont {
    position: relative;
}

.icon_label {
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eee;
    cursor: pointer;
    bottom: -8px;
    position: absolute;
    right: 0;
}

.icon_label:hover {
    background-color: #ddd;
}

.input {
    margin: 10px 0;
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save_button,
.cancel_button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.save_button:hover,
.cancel_button:hover {
    background-color: #555;
}

.cancel_button {
    background-color: #a00;
}

@media (max-width: 425px) {
    .Profile {
        width: 100%;
    }
}
